* {
    margin: auto;
    font-family: 'Lora', serif;
}
.navbar-laptop-mode {
    display: flex;
    position: absolute;
    right: 40px;
    padding: 5px 20px;
    font-size: 15px;
    color: white;

}

.navbar-laptop-items {
    padding: 0px 20px;
    position: relative;
    right: 10px;
}

.navbar-laptop-items:hover, .start-bootstrap-laptop-mode:hover {
    color: rgba(255, 255, 255, 0.822);
    cursor: pointer;
}

.start-bootstrap {
    display: none;
}
.start-bootstrap-laptop-mode {
    display: flex;
    position: relative;
    right: 400px;
    padding: 20px 150px;
    font-size: 22px;
    color: white;
}

.menu-btn {
   display: none;
}

.title-div {
    text-align: center;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.336), rgba(0,0,0,0.5)),
        url("https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Z2xhc3NlcyUyMG5vdGVwYWR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 215px;
    padding-bottom: 215px;
    color: white;
    font-size: 38px;
}

.blog-container {
    margin: 0px 300px;

}

.blog-title {
    text-align: left;
    padding: 70px 50px 10px 50px;
    font-size: 30px;
}

.blog-subtitle {
    text-align: left;
    padding: 5px 50px 10px 50px;
    font-size: 30px;
}

.blog-author {
    text-align: left;
    padding: 5px 50px 40px 50px;
    color: rgb(131, 129, 129);
    font-size: 20px;
}

.blog-titles-container:hover{
    color: #2d8aac;
    cursor: pointer;
}

span {
    color: black;
}

hr {
    margin-left: 30px;
    margin-right: 30px;
    border-color:rgba(131, 129, 129, 0.13);
}

.footer {
    padding: 50px

}

.footer-hr {
margin: 0px -50px;
    
}

.older-posts-container {
    padding-bottom: 40px;
    text-align: right;
    background-color: white;
}

.older-posts {
    background-color: #2d8aac;
    color: white;
    padding: 10px 4px;
    margin-left: 85%;
    text-align: center;

}

.older-posts:hover {
    background-color: #20627a;
    cursor: pointer;
}

.icons {
    display: flex;
    padding-bottom: 50px;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 50px;
    /*  */

}

.icons > div {
    background-color: rgb(37, 36, 36);
    padding: 14px;
    border-radius: 50%;
    color: white;
    font-size: 25px;
}

.icons > div:hover {
    background-color: #2d8aac;
    cursor: pointer;

}

.copyright {
    color: rgb(129, 128, 128);
    text-align: center;
}

@media (max-width: 900px){
    .navbar-laptop-mode {
        display: none;
    }
    
    .start-bootstrap {
        display: flex;
        padding: 5px 10px;
        font-size: 20px;
    }

    .navbar {
        background-color: white;
        display: flex;
        padding: 10px 0px;
        font-size: 18px;
    }

    .menu-btn {
        display: flex;
        background-color: white;
        border: solid 1px rgb(223, 221, 221);
        border-radius: 5px;
        padding: 15px;
        font-size: 12px ;
        font-weight: bold;
    }

    .menu-btn:hover, .start-bootstrap:hover {
        cursor: pointer;
    }

    .title-div {
        padding-top: 140px;
        padding-bottom: 140px;
        font-size: 30px;
    }

    .blog-container {
        margin: 0px;
    }

    .blog-title, .blog-subtitle, .blog-author {
        text-align: center;
    }

    hr {
        margin-left: 50px;
        margin-right: 50px;
    }

    .older-posts {
        margin-left: 400px;
    }

    .icons {
        padding-left: 150px;
        padding-right: 150px;
    }

    .icons > div {
        background-color: rgb(37, 36, 36);
    }
}